<a class="add-to-transfer fa-container">
    <abbr class="add-transfer" title="add to transfer sheet" >
        <i class="fa fa-circle fa-2x text-white pabs" aria-hidden="true"></i>
        <i class="fa fa-2x fa-plus-circle pabs" aria-hidden="true"></i>
    </abbr>
</a>