<a class="add-to-transfer fa-container " onclick="addToTransfer('{{this._id}}')">
    <abbr class="add-transfer" title="add to transfer sheet" >
        <i class="fa fa-circle text-white pabs" aria-hidden="true"></i>
        <i class="fa fa-plus-circle pabs" aria-hidden="true"></i>
    </abbr>
</a>