<footer class="page-footer grey darken-4 grey-text text-darken-1">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="text-darken 1">Footer Content</h5>
        <p class="text-darken 1">Please consider <a href="/subscribe">donating</a>.</p>
        </div>
    <div class="col l4 offset-l2 s12">
        <h5 >Links</h5>
        <ul>
            <li><a href="/">Sign Up</a></li>
            <li><a href="https://github.com/jsitter/fireworker">Source Code on Github</a></li>
        </ul>
    </div>
    </div>
    </div>
    <div class="footer-copyright black">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
    </div>
</footer>
