<section class="login-block">
    <form action="/login" method="post">
        <label for="email">Email</label> <input type="text" name="email">
        <label for="password">Password</label> <input type="password" name="password">
        <button type="submit">Login</button>
        <a href="/sign-up">Sign Up</a>
    </form>
    <br/>
    {{!-- <p>
        <a href="/sign-up">Sign Up</a>
    </p> --}}
</section>