<section class="login-block">
    <form action="/reset-password" method="post">
        <label for="email">Email</label> <input type="text" name="email">
        <button type="submit">Reset My Password</button>
        <a href="/login">Log In</a>
    </form>
    <br/>
</section>