        <section class="url-share">
            <abbr title="Close"> <i class="fa fa-times-circle fa-2x text-white close-icn pabs" aria-hidden="true" onclick="closeLink()"></i></abbr>
            <div class="user-link">
                <h3>One time use link:</h3>
                <p>Send this link to the party that should recieve these documents.</p>
                <input class="single-use-link" value="http//www.reddit.com/r/politics" >
            </div>
        </section>