        <section class="url-share">
            <abbr title="Close"> <i class="fa fa-times-circle fa-2x text-white close-icn pabs" aria-hidden="true" onclick="closeLink()"></i></abbr>
            <div class="user-link">
                <h3>One time use link:</h3>
                <p>Send this link to the party that should recieve these documents.</p>
                <input class="single-use-link" value="http//www.reddit.com/r/politics" >
                <form action="/send-link" method="post">
                    <input type="hidden" class="hiddenLink" name="hiddenLink" >
                    <input type="hidden" class="username" value="{{user.fname}}" name="username"/>
                    <label for="recipient-phone">Recipients Phone Number</label>
                    <input type="text" name="recipientphone">
                    <button class="sms-submit" type="submit">Text to Recipient</button>

                </form>
            </div>
        </section>