<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <h1>Password Reset Request</h1>
        <p>We received a password reset request, 
          follow this link <a href="{{reset_link}}">{{reset_link}}</a>!</p>
        <p>If you haven't reset your password we recommend you change it just in case.</p>
    </div>
</body>
</html>