<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <h1>Thank You</h1>
        <p>We received your payment for a one month subscription.</p>
        
    </div>
</body>
</html>