<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">

    {{!-- Apply Stylesheets --}}
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="users.css">
    <link rel="stylesheet" type="text/css" href="text.css">

    {{!-- Apply Scripts --}}
    <script
    {{!-- add jQuery --}}
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script rel="script" src="/js/scripts.js"></script>
    

    {{!-- Apply Title --}}
    <title>Fireworker</title>

</head>
    {{!-- Apply Content --}}
<body> 
    {{{body}}}
</body>
</html>