<section>
<h1>
    One Time Download
</h1>
    <h2>Dont Leave this page until you've finished downloading</h2>
    <p>
        The following files contain senstive information and are available only once to download.
    </p>
    <ul>
    {{#each transfer.records}}
        <li>
            hello
            {{this.local_address}}
        </li>
    {{/each}}
    </ul>
</section>