<div class="page-wrapper">
    <header class="clear download-header page-dimensions">
       {{>logo}}
    </header>
    <section class="download-area page-dimensions">
        <h1 class="download-warning">
            One Time Download
        </h1>
        <p class="download-warning">
            Don't Leave this page until you've finished downloading
        </p>
        <p>
            The following files contain senstive information and are available only once to download.
        </p>
        <ul>
        {{#each record}}
            <li>
                {{this.local_address}}
            </li>
        {{/each}}
        </ul>
    </section>
</div>