<div class="page-wrapper">
    <header class="clear download-header page-dimensions">
       {{>logo}}
    </header>
    <section class="download-area page-dimensions">
        <h1 class="download-warning">
            One Time Download
        </h1>
        <p class="download-warning download-description">
            Don't Leave this page until you've finished downloading
        </p>
        <p class="download-warning">
            The following files contain senstive information and are available only once to download.
        </p>
        <ul class="download-items">
        {{#each record}}
            <li>
                <a href="/dl-res/{{this._id}}">{{this.user_filename}}</a>
            </li>
        {{/each}}
        </ul>
    </section>
</div>