<header>
    {{>logo}}

</header>
<div class="page-wrapper">

    <section class="download-area">
        <h2>
            One Time Download
        </h2>
        <p>
            Don't Leave this page until you've finished downloading
        </p>
        <p>
            The following files contain senstive information and are available only once to download.
        </p>
        <ul class="download-items">
        {{#each record}}
            <li>
                <a href="/dl-res/{{this._id}}">{{this.user_filename}}</a>
            </li>
        {{/each}}
        </ul>
    </section>
</div>
{{>footer this}}