<header>
    {{>logo this}}
</header>
<section class="page-body">
    <section class="text-block">
        <h2>Link Expired</h2>
        <p>
        The documents you're trying to access have expired. To download documents please request a new link.
        </p>
    </section>
</section>
{{>footer this}}