<section class="main">

    <section class="intro">
       {{>logo}}
        <p>Securly send files across the globe with single use links.</p>
    </section>

    <section class="login-wrapper">
        {{>login}}
    </section>
</section>