<section class="main">

    <section class="intro">
       {{>logo}}
        <p>imagine that there was a mantis. a super cool mantis that is like you can 
            talk to it to say that you're hungry...</p>
    </section>

    <section class="login-wrapper">
        {{>login}}
    </section>
</section>