<section class="login-block">
    <form action="/reset-done" method="post">
        <label for="password">New Password</label> <input type="password" name="password">
        <button type="submit">Reset My Password</button>
        <a href="/login">Log In</a>
    </form>
    <br/>
</section>