<section class="main">
  {{>logo}}
  <h2>Reset My Password</h2>
  <p>Stuff happens.</p>
  <p>Enter your email address and we'll send you a link to reset your password.</p>

  {{>reset-password-form}}
</section>