<section class="userspace-block">
    <header>
        {{>logo}}
        {{>menu}}
    </header>
    <section class="user-area">
        {{!-- User Header Area --}}
        <h3>
            Hello {{user.fname}},
        </h3>
        
        {{!-- User Documents --}}
        <section class="user-docs">
                {{>single-use-link this}}
  
                <a href="/upload" >Upload Document</a>

                <div class="ul-wrapper">
                    <table class="docs-block fl-lt">
                        <thead><tr><th>Your Current Records</th></tr></thead>
                        <tbody>
                            {{#each user.records}}
                                <tr data-id="{{this._id}}">
                                    <td>{{this.user_filename}}{{>addTransfer this}}</td>
                                </tr>
                            {{/each}}
                        </tbody>


                    </table>
                   
                    <div class="clear"></div>
                </div>
                <button class="get-transfer-link clear" onclick="getDocLink()">Get single use link</button>
                
        </section>

    </section>
    {{!-- Footer Area --}}
    <footer>
        Please send us money.
    </footer>
</section>