<section class="userspace-block">
    <header>
        {{>logo}}
        {{>menu}}
    </header>
    <section class="user-area">
        {{!-- User Header Area --}}
        <h3>
            Hello {{user.fname}},
        </h3>
        <p>
            This would be a good spot for some content. Perhaps adding some documentation in the project's readme.
        </p>
        {{!-- User Documents --}}
        <section class="user-docs">
                <a href="/upload" >Upload Document</a>
                <ul>
                    {{#each user.records}}
                        <li class="record-item" data-id="{{this._id}}"><div class="record-name">{{this.user_filename}}</div>{{>addTransfer this}}</li>
                    {{/each}}
                </ul>
                <button class="get-transfer-link" onclick="getDocLink()">Get single use link</button>
                <br/>
                

        </section>
        <section class="url-share">
            <abbr title="Close"> <i class="fa fa-times-circle fa-2x text-white close-icn pabs" aria-hidden="true" onclick="closeLink()"></i></abbr>
            <div class="user-link">
                <h3>One time use link:</h3>
                <p>Send this link to the party that should recieve these documents.</p>
                <input class="single-use-link" value="http//www.reddit.com/r/politics" >
            </div>
        </section>
    </section>
    {{!-- Footer Area --}}
    <footer>
        Please send us money.
    </footer>
</section>