<section class="userspace-block">
    <header>
        {{>logo}}
        <h1>Welcome {{user}}</h1>
        <a href="/logout">Logout</a>
    </header>
  
    <footer>
        Please send us money.
    </footer>
</section>