<section class="userspace-block">
    <header>
        {{>logo}}
        {{>menu}}
    </header>
    <section class="user-area">
        <h3>
            Hello {{user}},
        </h3>
        <p>
            This would be a good spot for some content. Perhaps adding some documentation in the project's readme.
        </p>
        <a href="/offer">Offer a resource</a>
    </section>
    <footer>
        Please send us money.
    </footer>
</section>