<section class="userspace-block">
    <header>
        {{>logo}}
        {{>menu}}
    </header>
    <section class="user-area">

    </section>
    <footer>
        Please send us money.
    </footer>
</section>