/***************** 
*   Text Styles 
******************/
h1{
    font-weight: bold ;
    font-size: 70px;
}

h2{
    font-weight: bold;
    font-size: 25px;

}

h3{
    font-weight: bold;
    font-size: 15px;
    margin-left: -10px;
    margin-bottom: 10px;
}

p{
    color: #efefef;
}
a{
    color: #d1a400
}

.logo a{ 
    font-weight: bold;
    text-decoration: none;
}

.logo > a:visited, .logo > a:link{
    color: #d1a400;
    font-weight: bolder;
    font-size: 70px;
    margin: 0px 0px 40px 0px;
}

.text-white{
    color: white;
}

form > a{
    margin-left: 10px;
    margin-right: 10px;
}