
header{
    padding: 50px;
}

.userspace-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-area{
    height: 100%;
    min-height: 300px;
    background-color: rgb(0, 51, 56);
    padding: 50px;
}

ul.docs-block{
    list-style: none;
    margin: 40px 0px 40px 0px;
    width: 350px;
   
}

.add-transfer{
    
    border-radius : 25px;
    cursor: default;
    color: rgb(5, 154, 180);
    line-height: 30px;
    display: block;
    text-decoration: none;
    height: 30.5px;
}

.add-to-transfer, .record-name{
    color: white;
    display: inline-block;    
}

.record-name{
    height: 25px;
    width : 300px;
    margin: 3px;
    line-height: 25px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
    cursor: default;
    border-radius: 5px;
    background-color: #555;
}

a>abbr{
    text-align: center;
    position: relative;
}

a:active>abbr>i{
    color: pink;
}

.record-item{
    display: flex;
    align-items: center;
}

.pabs{
    position: absolute;
}

.record-selected>div{
    background-color: #d4b501;
    color: white;
}

.url-share{

    position: absolute;
    visibility: hidden;
    position: relative;
    background-color: rgba(4, 176, 189, 0.92);
    color: white;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    padding: 75px 50px 10px 50px;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(255, 255, 255, .4);
    
}

.close-icn{
    right: 0px;
    top: 0px;
    margin: 15px;
}

.single-use-link{
    background-color: #bbb;
    margin: 15px;
    height: 40px;
    padding: 5px;
    color: #222;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    font-size: 30px;
}

input.single-use-link{
    width: 500px;
    text-align: center;
    margin: 30px 0px 30px 50px;
    height: 50px;
}

.user-docs{
    width: 100%;
}

.ul-wrapper{
    width: 100%;
}
