$hero-color: #ffb300;
$site-blue: #0cdbe5;
$site-dark-blue: #2a48ec;
$site-green: #0add48;
$site-purple: #6504b5;
$site-red: #b50043;
$site-busy: #d7c6a2;

table {
    border: none;
    background-color: #0a7cdd;
    border-radius: 2px;
    border-spacing: 0px;
    width: 100%;
}

tr {
    border: none!important;
    width: inherit;
}

th {
    font-weight: 700;
    background: #333;
    border: none;
}

tr:hover {
    background-color: #095da7;
    width: inherit;
}

td, th {
    border: none;
    padding: 8px 18px;
    text-align: left!important;
    line-height: 2em;
}

.file-data-wrapper {
    padding: 0px;
}

.fa-eye:hover {
    color: $site-blue;
}

.fa-trash:hover {
    color: #ff4848!important;
}

.fa-minus-circle {
    color: #f00150;
    font-size: 22px;
    margin-top: 5px;
}

.upload-button {
    background-color: $site-green;
    display: block!important;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0px;
}

.upload-button:hover {
    background-color: #0cbf41;
}

tr.detailed-file-data {
    background-color: #075294!important;
}

tr.detailed-file-data :hover {
    background-color: #073a66!important;
}

.file-data-table {
    overflow: auto;
    
}

