*{
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
    
}

form{
    height: 100%;
}

button{

    background: rgb(3, 165, 138);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    margin: 5px;
}

input{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:2px solid #666;
    padding: 7px;
    margin:0px 0px 3px 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    background-color: #555;
    color: #fff;
}

input:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

label{
    margin:5px 0px 0px 0px;
    padding:0px;
    display:block;
    font-weight: bold;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d1a400;
}
.main{
    color: #d1a400;
    background-color: #333;
    height: 75%;
    width: 100%;
    margin-bottom: 10%;
    padding: 60px;
}

.login-block{
    padding: 20px;
    height: 120px;
}

.signup-block{
    min-width: 300px;
    color: #fff;
    background-color: #333;
    padding: 90px;
}

/* Text Styles */
h1{
    font-weight: normal;
    font-size: 70px;
}

h2{
    font-weight: normal;
    font-size: 70px;
}

a{
    color: #d1a400
}

.logo a{ 
    font-weight: bold;
    text-decoration: none;
}

.logo{
    color: #d1a400;
    font-weight: bold;
    font-weight: normal;
    font-size: 70px;
}