
header{
    padding: 50px;
}

.userspace-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-area{
    height: 100%;
    min-height: 300px;
    background-color: rgb(51, 36, 7);
    padding: 50px;
}

.user-docs li{

}

.user-docs ul{
    list-style: none;
    margin: 10px 0px 10px 0px;
}

.add-transfer{

    height: 30px;
    width: 30px;
    
    
    color: white;
    line-height: 30px;
    display: block;
    text-decoration: none;
}

.add-to-transfer, .record-name{
    border-radius: 5px;
    background-color: rgb(5, 154, 180);
    display: inline-block;
    
}

.record-name{
    height: 40px;
    width : 300px;
    margin: 3px;
    line-height: 40px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
    cursor: default;
    border-radius: 5px;
    background-color: #555;
}

a>abbr{
    text-align: center;
}

a.add-to-transfer:active{
    background-color: pink;
}