$hero-color: #ffb300;

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $hero-color;
}